<ul class="nav nav-fill">
  <li class="nav-item">
    <a class="nav-link text-dark" aria-current="page" href="#">All books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Languages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Frameworks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Data Structures & Algorithms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Design Patterns</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">System Design</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="/books/new">+Add a book</a>
  </li>
</ul>

<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>