<ul class="nav nav-fill">
  <li class="nav-item">
    {{!-- <a class="nav-link text-dark" aria-current="page" href="#">All books</a> --}}
    <a class="nav-link text-dark" aria-current="page" href="books/?category=all">All books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="books/?category=Languages">Languages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="books/?category=Frameworks">Frameworks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="books/?category=Data Structures & Algorithms">Data Structures & Algorithms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="books/?category=Design Patterns">Design Patterns</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="books/?category=System Design">System Design</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="/books/new">+Add a book</a>
  </li>
</ul>

<div class="row">
    {{#each books}}
        <div class="col-sm-4 d-flex align-items-stretch">
            <div class="card text-center m-2">
                <img class="card-img-top mt-3" src="{{this.imageLink}}" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDn6TsJeyk7Vt1yYwjytV3slqOpU4r3e0Ncg&usqp=CAU">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.authors}}</h6>
                    <div class="progress m-2">
                        <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 10%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="10"></div>
                    </div>
                    <a href="#" class="btn btn-outline-secondary mt-3" style="align-self: flex-end;">Open book review</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>