<ul class="nav nav-fill">
  <li class="nav-item">
    <a class="nav-link text-dark" aria-current="page" href="#">All books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Languages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Frameworks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Data Structures & Algorithms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Design Patterns</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">System Design</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="/books/new">+Add a book</a>
  </li>
</ul>

<div class="row">
    {{#each books}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{this.imageLink}}" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDn6TsJeyk7Vt1yYwjytV3slqOpU4r3e0Ncg&usqp=CAU">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="#" class="btn btn-secondary-outline">Open book review</a>
            </div>
        </div>
    {{/each}}
</div>